
.bloc-card-game-type-1 {
  
  padding: 10px;

  &__game {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .button-double-arrow {
    position: absolute;
    top: -5px;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 130%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    //align-content: center;
    &__button {
      order: 2;
      min-height: auto;
      margin: 0;
    }
    &__arrows {
      order: 1;
      margin: 0;
      margin-left: auto;
      width: auto;
    }
  }

  .popup-blue {
    position: absolute;
    z-index: 1000;
    grid-row: 2;
    margin-top: 50px;
    max-width: 200px;
    &.popup-column1 {
      grid-column: 2;
    }
    &.popup-column2 {
      grid-column: 1;
    }
    &.popup-column3 {
      grid-column: 2;
    }

  }

}
