/* @font-face {
  font-family: 'Helvetica Neue LT Std 55 Roman';
  font-style: normal;
  font-weight: normal;
  src: local('HelveticaNeueLTStd-Roman'), url('../assets/font/HelveticaNeueLTStd-Roman.otf') format('opentype');
}
 */
@font-face {
  font-family: 'Helvetica Neue LT Std 55 Roman';
  src: url('../assets/font/HelveticaNeueLTStd-Roman.eot');
  src: url('../assets/font/HelveticaNeueLTStd-Roman.woff2') format('woff2'),
       url('../assets/font/HelveticaNeueLTStd-Roman.woff') format('woff'),
       url('../assets/font/HelveticaNeueLTStd-Roman.ttf') format('truetype'),
       url('../assets/font/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg'),
       url('../assets/font/HelveticaNeueLTStd-Roman.otf') format('opentype'),
       url('../assets/font/HelveticaNeueLTStd-Roman.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


/* 
@font-face {
  font-family: 'Helvetica Neue LT Std 75 Bold';
  font-style: normal;
  font-weight: bold;
  src: local('HelveticaNeueLTStd-Roman'), url('../assets/font/Helvetica Neue LT Std 75 Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Helvetica Neue LT Std 107 Extra Black Condensed';
  font-style: normal;
  font-weight: bold;
  src: local('HelveticaNeueLTStd-XBlkC'), url('../assets/font/HelveticaNeueLTStd-XBlkCn.otf') format('opentype');
}

@font-face {font-family: "Helvetica Neue LT Std 93 Black Extended";
  font-style: normal;
  font-weight: bold;
  src: local('Helvetica Neue LT Std 93 Black Extended'), url('../assets/font/Helvetica Neue LT Std 93 Black Extended.otf') format('opentype');
}

@font-face {font-family: "Helvetica Neue LT Com 73 Bold Extended V1";
font-style: normal;
  font-weight: lighter;
  src: local('Helvetica Neue LT Com 73 Bold Extended V1'), url('../assets/font/Helvetica Neue LT Com 73 Bold Extended V1.otf') format('opentype');
}

@font-face {font-family: "Helvetica Neue LT Std 63 Medium Extended";
font-style: normal;
  font-weight: lighter;
  src: local('Helvetica Neue LT Std 63 Medium Extended'), url('../assets/font/Helvetica Neue LT Std 63 Medium Extended.otf') format('opentype');
}

@font-face {
font-family: 'Helvetica Neue LT Std 75 Bold';
font-style: normal;
font-weight: normal;
src: local('HelveticaNeueLTStd-Bd'), url('../assets/font/HelveticaNeueLTStd-Bd.otf') format('opentype');
}
 */ 

@font-face {
  font-family: 'Helvetica Neue LT Std 75 Bold';
  src: url('../assets/font/HelveticaNeueLTStd-Bd.eot');
  src: url('../assets/font/HelveticaNeueLTStd-Bd.woff2') format('woff2'),
       url('../assets/font/HelveticaNeueLTStd-Bd.woff') format('woff'),
       url('../assets/font/HelveticaNeueLTStd-Bd.ttf') format('truetype'),
       url('../assets/font/HelveticaNeueLTStd-Bd.otf') format('opentype'),
       url('../assets/font/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg'),
       url('../assets/font/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}



$defaultFontFamily: 'Helvetica Neue LT Std 55 Roman', "Helvetica", sans-serif;
$defaultFontFamily2: "Helvetica Neue", "Helvetica", Arial, sans-serif;
$boldFontFamily: "Helvetica Neue LT Std 75 Bold", "Helvetica", Arial, sans-serif;
$defaultFontSize: 0.75rem;
$headerFontFamily: $defaultFontFamily;
