
:root {
  --defaultFontFamily: "Helvetica Neue LT Std 55 Roman", "Helvetica", sans-serif;
  --defaultFontSize: 0.75rem;
  /******* HEADER *********/
  --headerFontFamily: var(--defaultFontFamily);


}
