/*------------------------------------*/
    /*SCSS VARIABLES*/
/*------------------------------------*/

$min-width: 250px;
$mobile-width: 500px;
$tab-width: 700px;
$desktop-width: 100px;
$xl-screen-width: 1400px;


/*------------------------------------*/
    /*CSS VARIABLES*/
/*------------------------------------*/

:root {


  /****** GLOBAL **********/
  --masterWidth: 1200px;
  --innerContentWidth: 800px;
  --innerContentPaddingX: calc((var(--masterWidth) - var(--innerContentWidth)) / 2);
  --masterPaddingBottom: 100px;

}
