
@font-face {
font-family: 'Helvetica Neue LT Std 55 Roman';
font-style: normal;
font-weight: normal;
src: local('HelveticaNeueLTStd-Roman'), url('assets/police/HelveticaNeueLTStd-Roman.otf') format('opentype');
 src: url('assets/police/helveticaneueroman.eot') format('embedded-opentype'),
         url('assets/police/helveticaneueroman.eot') format('woff'),
         url('my-font.ttf') format('truetype'),
         url('my-font.svg#font_family_name') format('svg');
}

body{font-family:'Helvetica Neue LT Std 55 Roman';}