
.bloc-simulator {

  &__link {
      margin-left: auto;
      margin-right: auto;
    &--picture {
      width: 75%;
      background-color: #fff;
      border-radius: 10px;
    }
    &--button {
      margin: 0;
      padding-right: 15px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      //align-items: center;
      //align-content: center;
      
    }
  }

  &__background-img {
    width: 100%;
    @extend %background-contain;
    background-position: top center;
    box-shadow: -2px 2px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
  }

}
