.card-content__type-3 {
  width: 100%;
  height: 100%;
  min-height: 235px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  background-color: var(--cardContentType1BgColor);
  font-size: 0.75rem;
  padding: 5px;
  @extend %background-contain;
  background-size: 90% 90%;

  /*if display: flex in JS*/
  justify-content: center;
  align-items: center;

  em {
    font-style: normal;
    font-weight: 700;
  }

  &.big-border {
    border: 3px solid var(--cardContentType1bigBorderColor);
  }

  &--big-title {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
  }

  > * {
    margin-bottom: 10px
  }

  &--drag-image {
    height: 15px;
    width: 30px;
    @extend %background-contain;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &--title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    margin-bottom: 0;
    max-width: 75%;
    margin-left: 15px; 
    margin-top: 5px;    
  }

  &--title-lower {
    font-size: 0.75rem;
    font-weight: 700;
    margin-bottom: 0;
    max-width: 75%;
    margin-left: 15px;    
    margin-top: 5px;    
    margin-bottom: 5px;    
  }

  &--subtitle {
    font-size: 0.75rem;
    margin-left: 15px;    
  }

  &--list {
    padding-left: 15px;
    > * {
      margin-bottom: 5px;
    }
  }
  &--help {
    margin-bottom: 0;
    font-style: italic;
    margin-top: auto;
    position: absolute;
    bottom: 0;
  }

}
