.bloc-pie-chart-play > svg {
  height: $pieChartRadius;
  width: $pieChartRadius;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  transform: rotate(-90deg) scaleY(-1);
  transition: all 0.25s linear;
}
