/*PARAMETRES GENERAUX*/
@font-face {
	font-family: 'Helvetica Neue LT Std 55 Roman';
	font-style: normal;
	font-weight: normal;
	src: local('HelveticaNeueLTStd-Roman'), url('../police/HelveticaNeueLTStd-Roman.otf') format('opentype');
	}
@font-face {
	font-family: 'Helvetica Neue LT Std 75 Bold';
	font-style: normal;
	font-weight: normal;
	src: local('HelveticaNeueLTStd-Roman'), url('../police/Helvetica Neue LT Std 75 Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Helvetica Neue LT Std 107 Extra Black Condensed';
	font-style: normal;
	font-weight: bold;
	src: local('HelveticaNeueLTStd-XBlkC'), url('../police/HelveticaNeueLTStd-XBlkCn.otf') format('opentype');
}
@font-face {font-family: "Helvetica Neue LT Std 93 Black Extended";
  font-style: normal;
	font-weight: bold;
	src: local('Helvetica Neue LT Std 93 Black Extended'), url('../police/Helvetica Neue LT Std 93 Black Extended.otf') format('opentype');
}


.left{float:left;}
.orange{color:#FE1E00;font-family:'Helvetica Neue LT Std 55 Roman';font-weight:bold;}
.violet{color:#9D159D;font-family:'Helvetica Neue LT Std 55 Roman';font-weight:bold;}
.vert{color:#009F00;font-family:'Helvetica Neue LT Std 55 Roman';font-weight:bold;}

#bodymain{
	margin: 0 auto;
	width:708px;
	font-family:'Helvetica Neue LT Std 55 Roman';
	text-align: justify;

}
/*FIN DES PARAMETRES GENERAUX*/



/**************************PAGE INDEX**************************/
/*CONSIGNES*/

.sequenceimgcontainer{
	float:left;
	
	
}
.sequencetextcontainer{

	
	
}
.sequencetitle{
font-family:"Helvetica Neue LT Std 55 Roman" !important;
text-transform: uppercase;	
color:#7D7D7D;	
font-size:12px;	
font-weight:bold;
}
.sequenceconsign{
font-family: 'Helvetica Neue LT Std 55 Roman';
color:#7D7D7D;	
font-size:9px;
margin-top:-10px;

}
.sequenceimgcontainer{
	
	padding:6px;
}
	
	
.view{
	margin-left:3px;
	
	
}
.consigncontainer{width:708px;height:auto;margin-left:0px;}


#consignesGenerales{
	margin-bottom :25px;
	font-size:14px;
	font-family:'Helvetica Neue LT Std 55 Roman';
	color:#7D7D7D;
	padding:15px;
}
.consigne{

	margin-bottom :25px;
	font-size:14px;
	font-family:'Helvetica Neue LT Std 55 Roman';
	color:#7D7D7D;
	padding:1px 13px;
}
.consignes{
	margin-bottom :25px;
	font-size:14px;
	font-family:'Helvetica Neue LT Std 55 Roman';
	color:#7D7D7D;
	padding:13px 1px;
}
.titleblue{
text-transform: uppercase;
color:#009FE3;
font-size:12px;
font-family:"Helvetica Neue LT Std 55 Roman" !important;
font-weight:bold;
	
}

.videoIframeContainer{
	margin-top:25px;
	margin-bottom:20px;
	display:block;
	width:673px;
	height:353px;
    color: #666666;
    text-align: left;
	background-color: white;
	margin-left:-10px;
	padding:10px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

	
}
.consignes{
	font-size:12px;
	font-family:'Helvetica Neue LT Std 55 Roman';
	color:#7D7D7D;
	margin-bottom :25px;
}
/*FIN CONSIGNES*/

/*PLATEAU ET BOUTONS DES MARCHES*/
.boutonMarche{
	display: inline-block;
	width:80px;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:14px;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	font-weight:bold;
	padding:30px ;
	text-decoration:none;
	text-align:center;
	font-family:'Helvetica Neue LT Std 55 Roman';
}
.boutonAction{
	background-color:#FF6600;
}
.boutonObligataire{
	background-color:#810082;
}
.boutonMonetaire{
	background-color:#009c00;
}
.boutonActive:hover{
	opacity:0.5;
}
.boutonDesactive{
	background-color:silver;
	opacity:0.5;
}

.plateaudesmarches{
	text-align:center;
}
#plateaudesmarches1{
	margin-bottom :75px;
}
#plateaudesmarches2{
	display:none; /*par défaut*/
	margin-bottom :25px;
}		
/*FIN DU PLATEAU ET DES BOUTONS DES MARCHES*/

/*MARCHE COURANT*/
#marcheCourant{
	margin-bottom :25px;
	border:none;
	width:100%;/*Needed so that the autoresize works*/
	height:100%;
}
/*FIN MARCHE COURANT*/




/*QUESTIONNAIRE*/
.form{
width:708px;
height:400px;
float:left;
margin-top:20px;
background-color:#EFEFEF;
float:left;
border-radius:20px;
display:none;
}

#formMonetaire{
	height:300px;
}

.questioncontainer{margin-top:40px;width:708px;cursor:pointer}
.buttonquestion{
cursor:pointer;

width:260px;
height:40px;
border-radius:10px;
background-color:#FAFAFA;
float:left;
margin:5px;
margin-top:0px;
font-family:'Helvetica Neue LT Std 55 Roman';font-weight:bold;
font-size:15px;
color:#666666;
text-align:left;


}
.buttonquestion {
cursor:pointer;
width:260px;
height:40px;
border-radius:10px;
background-color:#FAFAFA;
float:left;
margin:5px;
margin-top:0px;
font-family:'Helvetica Neue LT Std 55 Roman';font-weight:bold;
font-size:15px;
vertical-align: middle;
border:none !important;
box-shadow:none !important;
border-top-color: #b5b5b5;
color: #666677;
text-align:left;
}
.buttonquestion:hover {
cursor:pointer;
width:260px;
height:40px;
border-radius:10px;
background-color:#FAFAFA;
float:left;
margin:5px;
margin-top:0px;
font-family:'Helvetica Neue LT Std 55 Roman';font-weight:bold;
font-size:15px;
vertical-align: middle;
border:none !important;
box-shadow:none !important;
border-top-color: #b5b5b5;
color: #ffffff;
background: #d6d6d6;
text-align:left;
}
.buttonquestionactive {
cursor:pointer;
width:260px;
height:40px;
border-radius:10px;
background-color:white;
float:left;
margin:5px;
margin-top:0px;
font-family:'Helvetica Neue LT Std 55 Roman';font-weight:bold;
font-size:15px;
color: #666677;
vertical-align: middle;
border:solid 2px; !important;
border-color:silver;
box-shadow:none !important;
text-align:left;



}
.questionconsign{

width:150px;
height:40px;
margin-top:7px;
float:left;




}
.questionconsign2{

width:500px;
height:40px;
margin-top:7px;
margin-bottom:7px;




}
.question{

width:708px;
height:50px;


}
.valider{
background-color:black;
-moz-border-radius:11px;
-webkit-border-radius:11px;
border-radius:11px;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-size:18px;
padding:11px 70px;
text-decoration:none;
text-shadow:0px 1px 0px #2f6627;
margin-top:20px;
margin-left:460px;
float:clear;





}
.validoff{
background-color:black;
-moz-border-radius:11px;
-webkit-border-radius:11px;
border-radius:11px;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-size:18px;
padding:11px 70px;
text-decoration:none;
text-shadow:0px 1px 0px #2f6627;
margin-top:40px;
margin-left:460px;
float:clear;
opacity:0.5;





}


/* FIN QUESTIONNAIRE */







.rubriquetitle{font-weight:bold;}	
.titlebulle{font-weight:bold;}	


#rubriquetab{margin-top:-100px;margin-bottom:100px;height:500px;display:none;}
#rubriquetaboba{margin-top:100px;margin-bottom:100px;height:500px;display:block;}
#infobulle {

display:none;
width:300px;
height:auto;
/* On positionne notre infobulle. */
position:absolute;
background:#009FE3;
padding:20px;
color:#FFFFFF;
opacity:0.9;
padding:30px;
border-radius:20px;
box-shadow:0 0 2px rgba(0,0,0,.5);
font-family:'Helvetica Neue LT Std 55 Roman';font-weight:normal;
font-size:15px;
left:50%;

}


#infobulle2{

display:none;
width:270px;
height:auto;
/* On positionne notre infobulle. */
position:absolute;
background:#009FE3;
padding:20px;
color:#FFFFFF;
opacity:0.9;
padding:30px;
border-radius:20px;
box-shadow:0 0 2px rgba(0,0,0,.5);
font-family:'Helvetica Neue LT Std 55 Roman';font-weight:normal;
font-size:15px;
left:50%;

}
.infobulle2{

display:none;
width:270px;
height:auto;
/* On positionne notre infobulle. */
position:absolute;
background:#009FE3;
padding:20px;
color:#FFFFFF;
opacity:0.9;
padding:30px;
border-radius:20px;
box-shadow:0 0 2px rgba(0,0,0,.5);
font-family:'Helvetica Neue LT Std 55 Roman';font-weight:normal;
font-size:15px;
left:50%;

}
.containerinfo2{

width:300px;
height:300px;
background-color:none;
position:absolute;
left:120px;
width:430px;
border-radius:25px;

}
.containerinfo{

width:300px;
height:300px;
background-color:none;
position:absolute;
left:120px;
width:430px;
border-radius:25px;

}





/* FIN INFOBULLE */




/* POPUP SUCCES */


#dialogoverlay{
display:none;
width:250px;
height:170px;
position:absolute;
background:#009FE3;

color:#FFFFFF;
opacity:0.9;
padding:30px;
border-radius:20px;
box-shadow:0 0 2px rgba(0,0,0,.5);
font-family:'Helvetica Neue LT Std 55 Roman';font-weight:normal;
font-size:15px;
left:50%;
}
#dialogbox{
display:none;
width:300px;
height:180px;
position:absolute;
background:#009FE3;

color:#FFFFFF;
opacity:0.9;
border-radius:20px;
box-shadow:0 0 2px rgba(0,0,0,.5);
font-family:'Helvetica Neue LT Std 55 Roman';font-weight:normal;
font-size:15px;
left:50%;
bottom:10%;
}
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #009FE3; font-size:19px; padding:10px; color:#CCC; }
#dialogbox > div > #dialogboxbody{ background:#009FE3; padding:20px; color:#FFF; }
#dialogbox > div > #dialogboxfoot{ background: #009FE3; padding:10px; text-align:right; }		



#ok{cursor:pointer;margin:0px;}




/* FIN POPU SUCCES */







/*FIN MARCHE MONETAIRE*/




/* Iframe drag and drop */


.iframedraganddrop{
margin-left:0;	
}


#monetairedrop1 {
	display:block;}
#monetairesynthese {
	/*display:none;*/
	display:block;
}
#obligatairedrop1{
	display:block;}


#actiondrop1{
	display:block;}

#actionvideo{
	display:none;}


	
/*Decommenter en mode normal
DESACTIVE
.monetairedrop1 {
	display:block;}
.monetairesynthese {
	display:none;}
.obligatairedrop1{
	display:block;}
.obligatairedrop2{
	display:none;}
.obligatairevertical1{
	display:none;}
.obligatairevideo{
	display:none;}

.obligatairevertical2{
	display:none;}
.obligatairesynthese{
	display:none;}
.actiondrop1{
	display:block;}
.actiondrop2{
	display:none;}
.actionvertical1{
	display:none;}
.actionvideo{
	display:none;}
.actionvertical2{
	display:none;}
.actionsynthese{
	display:none;}
*/

/* A mettre en commentaire activation pour reglages
ACTIVE*/
	.monetairedrop1 {
	display:block;}
.monetairesynthese {
	display:block;}
.obligatairedrop1{
	display:block;}
.obligatairedrop2{
	display:block;}
.obligatairevertical1{
	display:block;}
.obligatairevideo{
	display:block;}

.obligatairevertical2{
	display:block;}
.obligatairesynthese{
	display:block;}
.actiondrop1{
	display:block;}
.actiondrop2{
	display:block;}
.actionvertical1{
	display:block;}
.actionvideo{
	display:block;}
.actionvertical2{
	display:block;}
.actionsynthese{
	display:block;}
	
	
	
/* A mettre en commentaire activation pour reglages
ACTIVE*/
#monetairedrop1 {
	display:block;}
#monetairesynthese {
	display:block;}
#obligataireblock1{
	display:block;}
#obligatairedrop2{
	display:block;}
#obligatairevertical1{
	display:block;}
#obligatairevertical2{
	display:block;}
#obligatairesynthese{
	display:block;}
#actiondrop1{
	display:block;}
#actiondrop2{
	display:block;}
#actionvertical1{
	display:block;}
#actionvertical2{
	display:block;}
#actionsynthese{
	display:block;} 
	


/* fin Iframe drag and drop */



/* Iframe drag and drop */


.iframevertical{
margin-left:-20px;	

	
}



/* fin Iframe drag and drop */


/* Fiche synthese */
.synthese{display:none;}


/* consignetrue */




.sequenceimgcontainer{
	float:left;
	
	
}
.sequencetextcontainer{

	line-height:12px;
	margin-left:15px;
	
	
}
.sequencetitle{
font-family:"Helvetica Neue LT Std 55 Roman" !important;
text-transform: uppercase;	
color:#7D7D7D;	
font-size:14px;	
font-weight:bold;
}


.sequenceconsign{
font-family: 'Helvetica Neue LT Std 55 Roman';
color:#7D7D7D;	
font-size:10px;

}
.sequenceimgcontainer{
	
	padding:6px;
}

.sequence{
	
	width:708px;
	height:30px;
	margin-bottom:-5px;
}
.imgcontain{
	height:34px;
	width:37px;
	float:left;
	margin-left:10px;
	margin-right:3px;
	
}

.horloge{
	
	background-image: url("img/horloge.png");
	background-size:35px 34px;
	background-repeat:no-repeat;
	
	
	
}

.secondes{
	
	background-image: url("img/10s.png");
	background-size:30px 30px;
	background-repeat:no-repeat;
}

.view{
	
	background-image: url("img/view.png");
	background-size:35px 20px;
	background-repeat:no-repeat;
}


.chrono{
	
	background-image: url("img/chrono.png");
	background-size:27px 34px;
	background-repeat:no-repeat;

}




	
.view{
	margin-left:3px;
	
	
}
.consigncontainer{width:708px;
	height:auto; margin-top:30px;margin-left:0px;

}

.consigne{

	margin-bottom :25px;
	font-size:14px;
	font-family:'Helvetica Neue LT Std 55 Roman';
	color:#7D7D7D;

}


.titleblue{
text-transform: uppercase;
color:#009FE3;
font-size:14px;
font-family:"Helvetica Neue LT Std 55 Roman" !important;
font-weight:bold;
	
}

.gradient{
	margin-left:-15px;
	margin-bottom:30px;
	width:715px;
	height:7px;
opacity:0.2;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+8,000000+100 */
background: rgb(229,229,229); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(229,229,229,1) 8%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 8%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(229,229,229,1) 8%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

/* consignetrue */







.cardcol{
	width:226px;
	height:452px;

	border-radius:25px;
	float:left;
	margin:2px;
	margin-left:7px;
}

.fakecard{
	width:224px;
	height:222px;
	background-color:#F9F9F9;
	border-radius:25px;
	float:left;
	margin:2px;
	border: solid 3px white;
	margin-left:7px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	
}
 .fakecardactiv{
	 border: solid 3px #C0C0C0;
	 
	 
	 
	 }


      .fondschema{width:708px;height:570px;background-color:#EFEFEF;}
      .bigtouch{margin:1px;width:136px;height:75px;background-color:#FAFAFA;border-radius:17px;box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);text-align:center;
      vertical-align:middle;margin:2px;cursor:pointer;
	  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
justify-content: center;
transition:background 0.5s;
      }
      .semitouch{;text-align:center;margin:1px;width:136px;height:50px;background-color:#FAFAFA;border-radius:17px;box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);margin:2px;cursor:pointer;transition: background 0.5s;
	  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
justify-content: center;
      }
      .bigtouch:hover{
      background: transparent;
      transition: background 0s;
      }
      .semitouch:hover{
      background: transparent;
      transition: background 0s;
      }
      .bigtouch:hover, .bigtouch:focus, .bigtouch:active {
      -webkit-animation-name: hvr-back-pulse;
      animation-name: hvr-back-pulse;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      background-color: #2098d1;
      background-color: #808080;
      color: white;
      }	  
      .semitouch:hover, .semitouch:focus, .semitouch:active {
      -webkit-animation-name: hvr-back-pulse;
      animation-name: hvr-back-pulse;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      background-color: #2098d1;
      background-color: #808080;
      color: white;
      }
      .bigtouchdouble{margin:1px;width:136px;height:150px;background-color:#FAFAFA;border-radius:17px;box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);text-align:center;
      vertical-align:middle;margin:2px;
      }
      .bigtouchtriple{margin:1px;width:136px;height:200px;border-radius:17px;text-align:center;
      vertical-align:middle;margin:2px;
      }
      .semitouchempty{;text-align:center;margin:1px;width:136px;height:50px;
      }
      .brick{margin:1px;width:136px;height:10px;background-color:#FAFAFA;border-radius:17px;box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);;
      }
      .grandcol{
      float:left;
      width:142px;
      height:570px;
      background-color:#EFEFEF;
      }
      .minicol{
      float:left;
      width:25px;
      height:570px;
      background-color:#EFEFEF;
      }
      .hidden{visibility:hidden;}
      .none{display:none;}
      .insidetouch{
      margin:auto 0;
      font-size:12px;
      width:100%;
      line-height:12px;
	  text-align:center;
position: relative; 
width: 120px;
height: auto;
vertical-align: middle;
margin:0 auto;



      }
      .insidesemitouch{
      margin:0 auto;
      font-size:12px;
      width:100px;
      height:100%;
      line-height:12px;
      display: inline-block;
      vertical-align: middle;
      line-height: 1em; 
      }
      .bold{
      font-weight:bold;
      }
      .alignv{
	  }
      .light{font-weight:normal;}
      .leftmarge{left:27px;
      position:relative;}
      .fleche{width:25px;height:100px;}

	  .upper{text-transform:uppercase;}
	  




































/**************************FIN EXO DRAG N DROP**************************/