
:root {
  --menuTopBgColor: var(--masterBgColor);
  --menuTopItemColor: var(--white);
  --menuTopItemHomeColor: rgba(170,170,170,1.00);
  
  --menuItem1BgColorOut: rgba(255,255,255,1.00);
  --menuItem2BgColorOut: rgba(102,172,203,1.00);
  --menuItem3BgColorOut: rgba(138,71,137,1.00);
  --menuItem4BgColorOut: rgba(115,161,62,1.00);
  --menuItem5BgColorOut: rgba(84,84,84,1.00);
  --menuItem1BgColorIn: rgba(255,255,255,1.00);
  --menuItem2BgColorIn: rgba(124,209,247,1.00);
  --menuItem3BgColorIn: rgba(167,86,168,1.00);
  --menuItem4BgColorIn: rgba(141,196,77,1.00);
  --menuItem5BgColorIn: rgba(102,102,102,1.00);


}
