.bloc-drag-and-drop-2 {

  &__start {
    width: 100%;
    border-radius: 20px;
    @extend %displayGrid;
    @include gridTemplateColumns(1fr 1fr 1fr 1fr 1fr);
    flex-wrap: wrap;
    background-color: $white;

    .icon-draggable {
      @extend %background-contain;
      background-image: url('../assets/img/icons/button-finger.png');
      width: 50px;
      height: 50px;
      border-radius: 25px;
      margin-right: 3px;
      grid-row: 1 / 10;
      justify-self: center;
      align-self: center;
    }

    .drop-card {
      height: 60px;
      width: 80px;
      margin-right: 30px;
      margin-top: 3px;
      margin-bottom: 3px;
      border: 1px solid $gridLinesColor;
    }
    
  }

  &__grid {
    @extend %displayGrid;
    width: 100%;
  }

  .grid-cell {
    // height: 60px;
    border: 1px solid $gridLinesColor;
    display: flex;
    justify-content: center;
    align-items: center;
    &.grid-header {
      font-family: $boldFontFamily;
      color: $headerColor;
    }

    .drop-card {
      height: 100%;
      width: 100%;
      max-width: 80px;
    }
  }
  .drop-card {
    font-size: 0.5rem;
    text-transform: uppercase;
    background-color: $white;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;

    .pie-chart-empty {
      background-color: rgba(233,233,233,1.00);
    }
  }
  .pie-chart-mini {
    height: 40px;
    width: 40px;
    margin-left: 5px;
    border-radius: 50%;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .drag-card {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    * {
      flex-shrink: 0;
    }
    .pie-chart-mini {
      transform: rotate(-90deg) scaleY(-1);
      transition: all 0.25s linear;
      * {
        stroke-width: 0;
      }
    }
    .name {
      margin-left: 5px;
      max-width: 60px;
      z-index: 1;
    }
    
  }

  &__legend {
    // grid-row: span 2 / -2;
    // grid-column: span 2 / -1;
    // width: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 0.5rem;
    text-transform: uppercase;

    list-style: none;

    background-color: $white;
    border: 1px solid $gridLinesColor;
    border-radius: 20px;
    > * {
      margin-bottom: 2px;
      @extend %flex-row-top-left;
      flex-shrink: 0;
      flex-grow: 0;
      width: 90%;
    }

    .legend-square {
      height: 10px;
      width: 25px;
      margin-right: 10px;
      flex-shrink: 0;
      border-radius: 2px;
    }
  }

  &__axis {
    color: $blocNameColor;
    max-width: 200px;
    &.horizontal {
      margin-left: auto;
    }
  }

  .popup-blue {
    position: absolute;
    left: 0;
    max-width: 200px;
  }

  &__buttons {
    width: 100%;
    @extend %flex-row-center-right;
    // justify-content: space-around;

    > * {
      flex-basis: 150px;
      margin-right: 50px;
      margin-bottom: 50px;

      &:last-child {
        margin-right: 15px;
      }
    }
  }
}
