.button-double-arrow {

  width: 100%;
  @extend %flex-column-center-center;

  > * {
    margin-right: 10px;
  }

  &__button {
    width: 90%;
    min-height: 75px;
    margin-bottom: 10px;
  }

  &__arrows {
    @extend %flex-row-center-center;
      width: 100%;
      height: 20px;

    > * {
      @extend %background-contain;
      width: 20px;
      margin-right: -2px;
      height: 100%;
      cursor: pointer;
    }
    &__arrow-left-up {
      background-position: right center;
    }
    
    &__arrow-right-down {
      background-position: left center;
    }
  }
  
}
