
.step3 {
  .bloc-sub-menu-1 {
    .button-primary {
      @include equalSides(140px);
      border-radius: 50%;
      position: relative;
      span {
        position: absolute;
        top: 190px;
        left: 0;
        right: 0;
        color: $defaultTextColor;
      }
    }
  }

  &__synthese .first {
    margin-top: 55px;
  }
}
