
.step3 {
  .bloc-sub-menu-1 {
    .button-primary {
      @include equalSides(140px);
      border-radius: 50%;
      position: relative;
      span {
        margin-top: 275px;
        color: $defaultTextColor;
      }
    }
  }

  &__synthese .button.first {
    margin-top: 55px;
  }
}
