.bloc-en-savoir-plus-type-3-qcm-type-1 {
  width: 100%;
  .bloc__first-description {
    min-height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    //align-content: center;
    
  }
  &__error {
    position: absolute;
    width: 300px;
    margin-left: auto;
    top: 0;
    right: 0;
    z-index: 10;
  }
  &__answers {
    width: 100%;
    height: 100px;
    &--answer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

    }
    &--file {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      font-size: 0.6875rem;
      width: 200px;
      margin-left: 15px;
      margin-bottom: 10px;

      a {
        color: blue;
        text-decoration: underline;
      }
    }
  }
  &__cards {
    width: 100%;
    display: grid;
    grid-template-columns: 7fr 1fr 6fr 1fr 7fr 1fr 7fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 2px;
    height: 100%;

    &--arrow {
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &--to-show {
      margin-top: 10px;
      justify-self: center;
      align-self: center;

      .card-subtitle {
        margin-bottom: 20px;
      }
    }

    .button-QCM-type-1 {

    }

    .button {
      color: var(--defaultTextColor);
      font-size: 0.875rem;
      font-size: 0.6875rem;
      padding: 10%;
      margin-bottom: 2px;
      text-transform: none !important;
    }
    .arrow-following {
      height: 30px;
      width: 210px;
      @extend %background-contain;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .arrow-right {
      height: 115px;
      width: 30px;
      @extend %background-contain;
      background-position: center center;
    }
  }
}
