
:root {

  --blocUpAndDownButtonBg: rgba(233,233,233,1.00);
  --blocUpAndDownButtonBorder: rgba(192,192,192,1.00);
  --blocUpAndDownButtonBgActive: var(--white);

  --blocUpAndDownButtonBorderFinished: rgba(128,184,61,1.00);

}
