.button-primary {
  padding: 15px 20px;
  
  color: $white;
  font-size: $defaultFontSize;
  text-transform: uppercase;

  cursor: pointer;
  text-align: center;

  background: $buttonPrimaryDefaultColor;
  border-radius: 10px;

  @extend %flex-column-center-center;

  &.min-width {
    min-width: 180px;
  }

  span {
    margin-top: 1px;

    > * {
      margin-top: 2px;
    }
  }
}
