
.bloc-divider {
  height: 10px;
  width: $innerContentWidth + $stepWidth;
  background: $dividerBgColor;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, $masterBgColor, $dividerBgColor);  
  background: linear-gradient(to bottom, $masterBgColor, $dividerBgColor);
  // background: black;

}
