
.bloc-step {
  @extend %flex-column-top-center;
  position: absolute;
  top: 0;
  bottom: calc(var(--masterPaddingBottom) * -1);
  left: calc(var(--stepWidth) * -1);
  flex-grow: 0;
  width: var(--stepWidth) !important;
  font-size: 100px;
  font-weight: 300;
  color: var(--blocStepColor);
  font-family: var(--defaultFontFamily2);
  background-color: var(--stepColor);
  padding: 0;

  .step-title {
    font-size: 20px;
    text-transform: uppercase;
  }
}
