
.bloc-step {
  @extend %flex-column-top-center;
  position: absolute;
  top: 0;
  bottom: $masterPaddingBottom * -1;
  left: $stepWidth * -1;
  flex-grow: 0;
  width: $stepWidth !important;
  font-size: 100px;
  font-weight: 300;
  color: $blocStepColor;
  font-family: $defaultFontFamily2;
  background-color: $stepColor;
  padding: 0;

  .step-title {
    font-size: 20px;
    text-transform: uppercase;
  }
}
