.menu-mobile {
  position: fixed;
  bottom: 0;
  margin-left: $menuMobileMarginLeft;

  // right: calc((100vw - $masterWidth) / 2 + $innerContentPaddingX / 2 - $buttonCircleRadius / 2);
  // right: (100vw - $masterWidth) / 2 - 10px; //FIXME

  z-index: 10;
  
  &__item {
    margin-bottom: 5px;
    width: $innerContentPaddingX;
    padding: 0 10px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    color: $menuMobileItemColor;
    text-transform: uppercase;
    
    visibility: hidden;
    opacity: 0;
    transition: all $menuMobileTogglingDuration ease-in-out;

    &.active {
      visibility: visible;
      opacity: 1;
    }
    
    &--title {
      display: block;
      font-size: $defaultFontSize;
    }
    &--subtitle {
      display: block;
      font-size: 0.60rem;
    }
    &--description {
      margin-left: 10px;
    }

    &--icon {
      color: $menuMobileIconColor;
      font-size: 1.5rem;
    }
    .button-circle__1 {
      color: $menuTopItemHomeColor;
    }
    .button-circle__1 {
      background: $menuItem1BgColor; 
    }
    .button-circle__2 {
      background: $menuItem2BgColor; 
    }
    .button-circle__3 {
      background: $menuItem3BgColor; 
    }
    .button-circle__4 {
      background: $menuItem4BgColor; 
    }
    .button-circle__5 {
      background: $menuItem5BgColor; 
    }
    
  }


}
