
:root {


  --menuMobileItemColor: rgba(114,114,114,1.00);
  --menuMobileIconColor: rgba(245,245,245,.6);
  
  --menuItem1BgColor: rgba(255,255,255,1.00);
  --menuItem2BgColor: rgba(100,212,246,1.00);
  --menuItem3BgColor: rgba(172,93,166,1.00);
  --menuItem4BgColor: rgba(137,190,93,1.00);
  --menuItem5BgColor: rgba(102,102,102,1.00);
  
}
