
.user-game-infos {
  font-size: 0.75rem;
  text-transform: uppercase;

  

  &__score {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &--stars {
      display: flex;
      justify-content: center;

      .star {
        &.isEmpty {
          color: $menuStepNavigationStarEmpty;
        }
        &.isFull {
          &.part1 { color: $menuStepNavigationStarFullPart1 }
          &.part2 { color: $menuStepNavigationStarFullPart2 }
        }
      }
      
    }
  }
}
