<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteBase /arnaud_apoc/APOCamundi/interface/home/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /arnaud_apoc/APOCamundi/interface/home/index.html [L]

</IfModule>
