.menu-top {
  height: $menuTopHeight;
  width: $menuTopWidth;
  box-shadow: $boxShadowToBottom;

  display: flex;
  justify-content: center;
  align-items: flex-start;


  z-index: 50;

  &__padding-top {
    border-top-left-radius: $menuTopPaddingTop;
    border-top-right-radius: $menuTopPaddingTop;
    padding-top: $menuTopPaddingTop;
    width: $menuTopWidth;
    background-color: $menuTopBgColor;
    box-shadow: $boxShadowToBottom;
    z-index: 51;
  }

  &__item {
    flex-grow: 1;
    height: $menuTopItemHeight;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: $menuTopItemColor;
    text-transform: uppercase;
    font-weight: 200;
    &--title {
      font-size: $defaultFontSize;
    }
    &--subtitle {
      font-size: 0.55rem;  
    }
    &-1 {
      color: $menuTopItemHomeColor;
      font-size: 1.25rem;
      flex-basis: 90px;
      flex-grow: 0;
    }
  }

  .menu-item-1 {
    background: $menuItem1BgColor; 
    // background: -webkit-linear-gradient(to bottom, $menuItem1BgColorOut, $menuItem1BgColorIn 25%, $menuItem1BgColorIn);
    // background: linear-gradient(to bottom, $menuItem1BgColorOut, $menuItem1BgColorIn 25%, $menuItem1BgColorIn);
  }
  .menu-item-2 {
    background: $menuItem2BgColor; 
    // background: -webkit-linear-gradient(to bottom, $menuItem2BgColorOut, $menuItem2BgColorIn 25%, $menuItem2BgColorIn);
    // background: linear-gradient(to bottom, $menuItem2BgColorOut, $menuItem2BgColorIn 25%, $menuItem2BgColorIn);
  }
  .menu-item-3 {
    background: $menuItem3BgColor; 
    // background: -webkit-linear-gradient(to bottom, $menuItem3BgColorOut, $menuItem3BgColorIn 25%, $menuItem3BgColorIn);
    // background: linear-gradient(to bottom, $menuItem3BgColorOut, $menuItem3BgColorIn 25%, $menuItem3BgColorIn);
  }
  .menu-item-4 {
    background: $menuItem4BgColor; 
    // background: -webkit-linear-gradient(to bottom, $menuItem4BgColorOut, $menuItem4BgColorIn 25%, $menuItem4BgColorIn);
    // background: linear-gradient(to bottom, $menuItem4BgColorOut, $menuItem4BgColorIn 25%, $menuItem4BgColorIn);
  }
  .menu-item-5 {
    background: $menuItem5BgColor; 
    // background: -webkit-linear-gradient(to bottom, $menuItem5BgColorOut, $menuItem5BgColorIn 25%, $menuItem5BgColorIn);
    // background: linear-gradient(to bottom, $menuItem5BgColorOut, $menuItem5BgColorIn 25%, $menuItem5BgColorIn);
  }
}
