.menu-top {
  height: var(--menuTopHeight);
  width: var(--menuTopWidth);
  // margin-left: calc(var(--stepWidth) * -1);
  box-shadow: var(--boxShadowToBottom);

  display: flex;
  justify-content: center;
  align-items: flex-start;


  z-index: 50;

  &__padding-top {
    border-top-left-radius: var(--menuTopPaddingTop);
    border-top-right-radius: var(--menuTopPaddingTop);
    padding-top: var(--menuTopPaddingTop);
    // margin-left: calc(var(--stepWidth) * -1);
    width: var(--menuTopWidth);
    background-color: var(--menuTopBgColor);
    box-shadow: var(--boxShadowToBottom);
    z-index: 51;
  }

  &__item {
    flex-grow: 1;
    height: var(--menuTopItemHeight);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: var(--menuTopItemColor);
    text-transform: uppercase;
    font-weight: 200;
    &--title {
      font-size: var(--defaultFontSize);
    }
    &--subtitle {
      font-size: 0.55rem;  
    }
    &-1 {
      color: var(--menuTopItemHomeColor);
      font-size: 1.25rem;
      flex-basis: 90px;
      flex-grow: 0;
    }
  }

  @for $i from 1 through 5 {
    .menu-item-#{$i} {
      background: var(--menuItem#{$i}BgColor); 
      // background: -webkit-linear-gradient(to bottom, var(--menuItem#{$i}BgColorOut), var(--menuItem#{$i}BgColorIn) 25%, var(--menuItem#{$i}BgColorIn));
      // background: linear-gradient(to bottom, var(--menuItem#{$i}BgColorOut), var(--menuItem#{$i}BgColorIn) 25%, var(--menuItem#{$i}BgColorIn));
    }
  }
}
