.menu-top {
  height: var(--menuTopHeight);
  width: var(--menuTopWidth);
  margin-bottom: 60px;

  border-top-left-radius: var(--menuTopPaddingTop);
  border-top-right-radius: var(--menuTopPaddingTop);
  border: 1px solid var(--white);
  background-color: var(--menuTopBgColor);

  box-shadow: -2px 2px 10px rgba(0,0,0,0.2);

  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding-top: var(--menuTopPaddingTop);

  z-index: 10;

  &__item {
    flex-grow: 1;
    height: var(--menuTopItemHeight);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: var(--menuTopItemColor);
    text-transform: uppercase;
    font-weight: 400;
    &--title {
      font-size: var(--defaultFontSize);
    }
    &--subtitle {
      font-size: 0.55rem;  
    }
    &-1 {
      color: var(--menuTopItemHomeColor);
      font-size: 1.25rem;
    }
  }

  @for $i from 1 through 5 {
    .menu-item-#{$i} {
      background: var(--menuItem#{$i}BgColor); 
      background: -webkit-linear-gradient(to bottom, var(--menuItem#{$i}BgColorOut), var(--menuItem#{$i}BgColorIn), var(--menuItem#{$i}BgColorOut));
      background: linear-gradient(to bottom, var(--menuItem#{$i}BgColorOut), var(--menuItem#{$i}BgColorIn), var(--menuItem#{$i}BgColorOut));
    }
  }
}
