
.bloc {
  @extend %flex-column-top-left;
  width: 100%;
  padding: 10px;
  font-size: 0.875rem;
  > * {
    margin-bottom: 1rem;
  }

  &__name {
    color: var(--blocNameColor);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
  }

  &__video {
    position: absolute !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
    padding: var(--videoMargin);
    background-color: var(--white);

    &--container {
      margin: var(--videoMargin);
      width: calc(100% - 2 * var(--videoMargin));
      padding-top: 56.25%;

      position: relative;
      background-color: red;
      
    }
  }
}
