

.bloc-link {

  .bloc__name {
    margin-bottom: 25px;
  }

  &__link {
    margin-left: auto;
    margin-right: 15px;
  }

  &__group-link {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;

    .bloc-link__link-name {
      width: 300px;
    }

    .bloc-link__link {
      margin-left: 0;
    }
    
  }

}

