
:root {

  --menuStepNavigationBg: rgba(255,255,255,1.00);
  --menuStepNavigationStarEmpty: var(--defaultTextColor);
  --menuStepNavigationStarFull: rgba(255,180,24,1.00);
  --menuStepNavigationBullet: rgba(0,161,28,1.00);
  --menuStepNavigationBorder: rgba(128,128,128,1.00);
  
}
