.hamburger-menu {

  &-container {
    background-color: $hamburgerBgColor;
  }
  
  width: $hamburgerWidth;
  height: $hamburgerHeight;
  position: relative;
  cursor: pointer;

  .span {
    display: block;
    position: absolute;
    height: $hamburgerLineHeight;
    width: 100%;
    background: $hamburgerColor;
    border-radius: $hamburgerLineHeight;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: $hamburgerTransDuration ease-in-out;

    &:nth-child(1) { top: 0px; }
    &:nth-child(2), &:nth-child(3) { top: $hamburgerLineHeight + $hamburgerLineSpacing; }
    &:nth-child(4) { top: 2 * ($hamburgerLineHeight + $hamburgerLineSpacing); }
  }

  &.active .span {

    &:nth-child(1), 
    &:nth-child(4) {
      top: $hamburgerLineHeight + $hamburgerLineSpacing;
      width: 0%;
      left: 50%;
    }

    &:nth-child(2) { transform: rotate(45deg); }
    &:nth-child(3) { transform: rotate(-45deg); }
  }
}

