
@mixin gridBlocEnSavoirPlusType3($columns: 0, $rows: 0, $columnGap: 0, $rowGap: 0) {
  @if ($columns != 0) {
    @include gridTemplateColumns(200px 30px 200px 30px 200px 30px, $columnGap);
  }
  @if ($rows != 0) {
    @include gridTemplateRows(repeat($rows, 1fr), $rowGap);
  }
}

.bloc-en-savoir-plus-type-3 {
  width: 100%;
  &__cards {
    width: 100%;
    @extend %displayGrid;
    height: 100%;

    &--to-show {
      width: 360px;
      justify-self: center;
      align-self: center;

      .card-subtitle {
        margin-bottom: 20px;
      }
    }

    .button {
      height: 115px;
      width: 1fr;
      font-size: 0.875rem;
      padding: 10%;
      margin-bottom: 2px;
    }
    .arrow-following {
      height: 30px;
      width: 210px;
      @extend %background-contain;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .arrow-right {
      height: 115px;
      width: 30px;
      @extend %background-contain;
      background-position: center center;
    }
  }
}
