
.bloc-quiz {

  margin-bottom: 50vh;
  // margin-top: 20px;

  .chrono-question {
    display: flex;
    
    //justify-content: center;
    align-items: center;
    //align-content: center;
    
  }

  &__answers {
    @extend %flex-row-center-left;
    justify-content: flex-start;
    flex-wrap: no-wrap;
    width: 100%;
    height: 100%;
    > * {
      margin-right: 8px;
      margin-bottom: 8px;
    }
  }


  &__validate {
    margin-left: auto;
    width: 200px;
  }

  .validate-and-popup {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .popup-blue {
    justify-content: center;

    &__explication {
      width: 75%;
      margin-left: auto;
      margin-right: auto;
    }

    &__victory-message {
      flex-grow: 0;
      width: 200px;
      height: 75px;
      padding: 15px;
      margin-right: 40px;
      text-align: center;
    }
  }

}

