/*PARAMETRES GENERAUX*/
@font-face {
	font-family: 'Helvetica Neue LT Std 55 Roman';
	font-style: normal;
	font-weight: normal;
	src: local('HelveticaNeueLTStd-Roman'), url('../police/HelveticaNeueLTStd-Roman.otf') format('opentype');
}
@font-face {
	font-family: 'Helvetica Neue LT Std 75 Bold';
	font-style: normal;
	font-weight: normal;
	src: local('HelveticaNeueLTStd-Roman'), url('../police/Helvetica Neue LT Std 75 Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Helvetica Neue LT Std 107 Extra Black Condensed';
	font-style: normal;
	font-weight: bold;
	src: local('HelveticaNeueLTStd-XBlkC'), url('../police/HelveticaNeueLTStd-XBlkCn.otf') format('opentype');
}
@font-face {font-family: "Helvetica Neue LT Std 93 Black Extended";
  font-style: normal;
	font-weight: bold;
	src: local('Helvetica Neue LT Std 93 Black Extended'), url('../police/Helvetica Neue LT Std 93 Black Extended.otf') format('opentype');
}

@font-face {font-family: "Helvetica Neue LT Com 73 Bold Extended V1";
font-style: normal;
	font-weight: lighter;
	src: local('Helvetica Neue LT Com 73 Bold Extended V1'), url('../police/Helvetica Neue LT Com 73 Bold Extended V1.otf') format('opentype');
}

@font-face {font-family: "Helvetica Neue LT Std 63 Medium Extended";
font-style: normal;
	font-weight: lighter;
	src: local('Helvetica Neue LT Std 63 Medium Extended'), url('../police/Helvetica Neue LT Std 63 Medium Extended.otf') format('opentype');
}
.title1
{
	font-family:'Helvetica Neue LT Std 55 Roman';font-weight:bold;font-size:10px;

	
}
.rubriquetitle{font-weight:bold;}	
.glossary {


/* On positionne notre infobulle. */

font-family:'Helvetica Neue LT Std 55 Roman';font-weight:normal;
font-size:11px;


}


.containerinfo{

width:300px;
height:300px;
background-color:none;
position:absolute;
left:220px;
width:470px;
border-radius:25px;

}


.containerinfo2{

width:300px;
height:270px;
background-color:none;
position:relative;
left:calc(40%);
width:300px;
border-radius:25px;
bottom:340px;
display:block;

}
#infobulle2 {

display:none;
width:300px;
height:auto;
background:#009FE3;
padding:20px;
color:#FFFFFF;
opacity:0.9;
padding:30px;
border-radius:20px;
box-shadow:0 0 2px rgba(0,0,0,.5);
font-family:'Helvetica Neue LT Std 55 Roman';font-weight:normal;
font-size:15px;
margin:auto;
}






.minititle{font-family:'Helvetica Neue LT Std 55 Roman';font-weight:bold;margin:10px;margin-left: 0px;}
.orange{color:#FE1E00;font-family:'Helvetica Neue LT Std 55 Roman';font-weight:bold;}
.violet{color:#9D159D;font-family:'Helvetica Neue LT Std 55 Roman';font-weight:bold;}
.vert{color:#009F00;font-family:'Helvetica Neue LT Std 55 Roman';font-weight:bold;}


.textcontainer{width:200px;float:left;height:50px;margin-top:10px;}
.imgcontainer{width:75px;height:50px;float:left;}
.menulicontainer{width:300px;height:65px;cursor:pointer;}
.menutitle{font-family:'Helvetica Neue LT Std 55 Roman';font-weight:bold;margin:10px;margin-left: 0px;text-transform:uppercase;font-size:14px;color:#727272;cursor:pointer;}

.menutext{font-family:'Helvetica Neue LT Std 55 Roman';font-weight:bold;margin-left: 0px;text-transform:uppercase;font-size:11px;color:#727272;}
.menulicontainer:hover{
	opacity:0.9;
	mix-blend-mode: exclusion;
	
}

.menub:hover{
	cursor:pointer;
}


.menub:hover{
	opacity:0.8;
mix-blend-mode: exclusion;
	
}


.allocex1{ width:708px;
			height:auto;
		margin-left::0px;	
		margin-top:10px;
		margin-bottom:10px;
		
}



.allocex2{ width:708px;
			height:auto;
		margin-left:0px;		
		margin-top:10px;
		margin-bottom:10px;
		
}
.consigne{
	font-family:'Helvetica Neue LT Std 55 Roman';
	font-size:15px;
	color:#7F7F7F;
	padding:10px;
	margin-top:10px;margin-bottom:10px;}




.grillecontainer{
	
	width:708px;
	height:600px;


		margin-left:5px;	

}

.grilleliner{
	
	width:max-width;
	height:220px;


}
.grilleminicontainerright{
	
	
	width:283px;
	height:660px;
	float:left;
	
	
}



.grilleminicontainerleft{
	
		width:423px;
	height:660px;
		float:left;
	
	
	
}



.placeholder{
	
		width:139px;
	height:220px;

		float:left;
	
	
	
}


.titlecontainer{
	font-family:'Helvetica Neue LT Std 55 Roman';
	font-size:11px;
	color:#7F7F7F;
	padding:10px;
	margin-top:10px;margin-bottom:10px;
	text-transform:uppercase;
	
	}
	
	/* consignes et titres */

.view{
	margin-left:3px;
	
	
}
.consigncontainer{width:708px;height:auto;}


#consignesGenerales{
	margin-bottom :25px;
	font-size:14px;
	font-family:'Helvetica Neue LT Std 55 Roman';
	color:#7D7D7D;
	padding:15px;
}
.consigne{

	margin-bottom :25px;
	font-size:14px;
	font-family:'Helvetica Neue LT Std 55 Roman';
	color:#7D7D7D;
	padding:1px 13px;
}
.consignes{
	margin-bottom :25px;
	font-size:14px;
	font-family:'Helvetica Neue LT Std 55 Roman';
	color:#7D7D7D;
	padding:13px 1px;
}
.titleblue{
text-transform: uppercase;
color:#009FE3;
font-size:12px;
font-family:"Helvetica Neue LT Std 63 Medium Extended" !important;
font-weight:normal;
	
}


/**************************PAGE INDEX**************************/
/*CONSIGNES*/

.sequenceimgcontainer{
	float:left;
	
	
}
.sequencetextcontainer{

	line-height:12px;
	margin-left:15px;
	
	
}
.sequencetitle{
font-family:"Helvetica Neue LT Std 63 Medium Extended" !important;
text-transform: uppercase;	
color:#7D7D7D;	
font-size:12px;	
font-weight:normal;
}
.sequenceconsign{
font-family: 'Helvetica Neue LT Std 55 Roman';
color:#7D7D7D;	
font-size:9px;

}
.sequenceimgcontainer{
	
	padding:6px;
}

.sequence{
	
	width:708px;
	height:30px;
}
.imgcontain{
	height:30px;
	width:30px;
	float:left;
	margin-left:10px;
	margin-right:3px;
	background-image: url("img/horloge.png");
	background-size:30px 30px;
}		
	
.view{
	margin-left:3px;
	
	
}



#consignesGenerales{
	margin-bottom :25px;
	font-size:14px;
	font-family:'Helvetica Neue LT Std 55 Roman';
	color:#7D7D7D;
	padding:15px;
}
.consigne{

	margin-bottom :25px;
	font-size:14px;
	font-family:'Helvetica Neue LT Std 55 Roman';
	color:#7D7D7D;
	padding:1px 13px;
}


	
	/*QUESTIONNAIRE*/
.form{
width:708px;
height:400px;
float:left;
margin-top:-40px;
float:left;
border-radius:20px;
display:none;
margin-left:20px;
}

#formMonetaire{
	height:300px;
}

.questioncontainer{margin-top:40px;width:708px;cursor:pointer}
.buttonquestion{
cursor:pointer;

width:260px;
height:40px;
border-radius:10px;
background-color:#FAFAFA;
float:left;
margin:5px;
margin-top:0px;
font-family:'Helvetica Neue LT Std 55 Roman';font-weight:bold;
font-size:1px;
color:#666666;
text-transform:uppercase;



}
.buttonquestion {
cursor:pointer;
width:260px;
height:40px;
border-radius:10px;
background-color:#FAFAFA;
float:left;
margin:5px;
margin-top:0px;
font-family:'Helvetica Neue LT Std 55 Roman';font-weight:bold;
font-size:13px;
vertical-align: middle;
border:none !important;
box-shadow:none !important;
border-top-color: #b5b5b5;
color: #666677;
}
.buttonquestion:hover {
cursor:pointer;
width:260px;
height:40px;
border-radius:10px;
background-color:#FAFAFA;
float:left;
margin:5px;
margin-top:0px;
font-family:'Helvetica Neue LT Std 55 Roman';font-weight:bold;
font-size:13px;
vertical-align: middle;
border:none !important;
box-shadow:none !important;
border-top-color: #b5b5b5;
color: #ffffff;
background: #d6d6d6;
}
.buttonquestionactive {
cursor:pointer;
width:260px;
height:40px;
border-radius:10px;
background-color:white;
float:left;
margin:5px;
margin-top:0px;
font-family:'Helvetica Neue LT Std 55 Roman';font-weight:bold;
font-size:13px;
color: #666677;
vertical-align: middle;
border:solid 2px; !important;
border-color:silver;
text-transform:uppercase;




}
.questionconsign{

width:150px;
height:40px;
margin-top:7px;
float:left;




}
.questionconsign2{

width:500px;
height:40px;
margin-top:7px;
margin-bottom:7px;




}
.question{

width:708px;
height:50px;


}
.valider{
background-color:black;
-moz-border-radius:11px;
-webkit-border-radius:11px;
border-radius:11px;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-size:18px;
padding:11px 70px;
text-decoration:none;
text-shadow:0px 1px 0px #2f6627;
margin-top:50px;
margin-left:460px;
float:clear;
font-family:'Helvetica Neue LT Std 55 Roman';




}.valider2{
background-color:black;
-moz-border-radius:11px;
-webkit-border-radius:11px;
border-radius:11px;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-size:18px;
padding:11px 70px;
text-decoration:none;
text-shadow:0px 1px 0px #2f6627;
margin-top:50px;
margin-left:0px;
float:clear;
font-family:'Helvetica Neue LT Std 55 Roman';




}
.validoff{
background-color:black;
-moz-border-radius:11px;
-webkit-border-radius:11px;
border-radius:11px;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-size:18px;
padding:11px 70px;
text-decoration:none;
text-shadow:0px 1px 0px #2f6627;
margin-top:40px;
margin-left:460px;
float:clear;
opacity:0.5;
font-family:'Helvetica Neue LT Std 55 Roman';




}

/* fin questionnaire */


/* alerte */

#dialogoverlay{
display:none;
width:250px;
height:170px;
position:absolute;
background:#009FE3;

color:#FFFFFF;
opacity:0.9;
padding:30px;
border-radius:20px;
box-shadow:0 0 2px rgba(0,0,0,.5);
font-family:'Helvetica Neue LT Std 55 Roman';font-weight:normal;
font-size:15px;
left:50%;
}
#dialogbox{
display:none;
width:300px;
height:180px;
position:absolute;
background:#009FE3;

color:#FFFFFF;
opacity:0.9;
border-radius:20px;
box-shadow:0 0 2px rgba(0,0,0,.5);
font-family:'Helvetica Neue LT Std 55 Roman';font-weight:normal;
font-size:15px;
left:50%;

}
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #009FE3; font-size:19px; padding:10px; color:#CCC; }
#dialogbox > div > #dialogboxbody{ background:#009FE3; padding:20px; color:#FFF; }
#dialogbox > div > #dialogboxfoot{ background: #009FE3; padding:10px; text-align:right; }		



#ok{cursor:pointer;}


.videoIframeContainer{
	margin-top:260px;
	margin-bottom:20px;
	display:block;
	width:693px;
	height:450px;
    color: #666666;
    text-align: left;
	background-color: white;
	margin-left:5px;
	padding:10px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

	
}




