.bloc-drag-and-drop-1 {

  .risk-scale {
    @extend %flex-row-center-center;
    justify-content: space-between;
    text-transform: uppercase;
    width: 100%;
    margin: 10px 0;
    height: 50px;

    .popup-blue {
      text-transform: initial;
      max-width: 400px;
      text-align: center;
    }
  }

  &__cards {
    @extend %flex-column-center-center;
    justify-content: space-between;
    width: 100%;

    .drop-cards-end.finished > * {
      background-color: $blocUpAndDownButtonBgActive;
      border: 2px solid $blocUpAndDownButtonBorderFinished;
      box-shadow: none;
    }
    .drop-cards-start {

      .drop-card {
        height: 250px;
      }

      .drag-card {
        height: 100%;
      }
    }
  }

  &__buttons {
    width: 100%;
    @extend %flex-row-center-right;
    // justify-content: space-around;

    > * {
      flex-basis: 150px;
      margin-right: 50px;
    }
  }

  .explanation {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
