
:root {
  --buttonQCMType1Color: rgba(102,102,117,1.00);
  --buttonQCMType1BgColor: var(--white);
  --buttonQCMType1HoverBgColor: rgba(214,214,214,1.00);
  --buttonQCMType1ActivBorderColor: rgba(192,192,192,1.00);

}
