
* {
  // border: 1px solid #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body, #root {
  width: 100%;
  height: 100%;
  color: var(--defaultTextColor);
  background-color: var(--bodyBgColor);
}

.master {
  &__outer-container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: var(--masterWidth);
    background: var(--masterBgColor);
  }

  &__inner-container {
    margin-right: var(--innerContentPaddingX);
    margin-left: var(--innerContentPaddingX);
    padding-left: 100px;
    padding-bottom: var(--masterPaddingBottom);

  }
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

