
.bloc-video {

  &__video {
    position: absolute !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
    padding: $videoMargin;
    background-color: $white;

    &--container {
      margin-top: $videoMargin;
      margin-bottom: $videoMargin;
      width: $videoWidth;
      height: ($videoWidth + 2 * $videoMargin) * 0.5625;

      position: relative;
      background-color: red;
      
    }

  }


  .bloc__name {
    
    &.secondary {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }

  
  .button-primary {
    margin-left: auto;
  }
}
