
.bloc-video {

  &__video {
    position: absolute !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
    padding: var(--videoMargin);
    background-color: var(--white);

    &--container {
      --videoWidth: calc(var(--innerContentWidth) - var(--stepWidth) - 2 * var(--blocPaddingX));
      margin-top: var(--videoMargin);
      margin-bottom: var(--videoMargin);
      width: var(--videoWidth);
      height: calc((var(--videoWidth) + 2 * var(--videoMargin)) * 0.5625);

      position: relative;
      background-color: red;
      
    }

  }
  
  .button-primary {
    margin-left: auto;
  }
}
