@font-face {
  font-family: 'Helvetica Neue LT Std 55 Roman';
  src: url('css/HelveticaLTStd-Roman.eot');
  src: url('css/HelveticaLTStd-Roman.eot?#iefix') format('embedded-opentype'),
  url('css/HelveticaLTStd-Roman.woff2') format('woff2'),
  url('css/HelveticaLTStd-Roman.woff') format('woff'),
  url('css/HelveticaLTStd-Roman.ttf') format('truetype'),
  url('css/HelveticaNeueLTStd-Roman.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  }
  @font-face {
  font-family: 'Helvetica Neue LT Std 75 Bold';
  src: url('css/HelveticaNeueLTStd-Bd.eot');
  src: url('css/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),
  url('css/HelveticaNeueLTStd-Bd.woff2') format('woff2'),
  url('css/HelveticaNeueLTStd-Bd.woff') format('woff'),
  url('css/Helvetica Neue LT Std 75 Bold.otf') format('otf'),
  url('css/HelveticaNeueLTStd-Bd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  }






html{
	font-family: 'Helvetica Neue LT Std 55 Roman';
	background-color:#efefef;
	overflow-y: hidden;
	overflow-x: hidden;
}
 



body{
	height:auto;
	width:708px;
	margin-left:0px;
	background-color:#efefef;
}

