
:root {
  --menuTopBgColor: var(--masterBgColor);
  --menuTopItemColor: var(--white);
  --menuTopItemHomeColor: rgba(170,170,170,1.00);
  
  --menuItem1BgColorOut: rgba(255,255,255,1.00);
  --menuItem2BgColorOut: rgba(79,165,196,1.00);
  --menuItem3BgColorOut: rgba(129,70,128,1.00);
  --menuItem4BgColorOut: rgba(107,150,58,1.00);
  --menuItem5BgColorOut: rgba(79,79,79,1.00);
  --menuItem1BgColorIn: rgba(255,255,255,1.00);
  --menuItem2BgColorIn: rgba(79,165,196,0.5);
  --menuItem3BgColorIn: rgba(129,70,128,0.5);
  --menuItem4BgColorIn: rgba(107,150,58,0.5);
  --menuItem5BgColorIn: rgba(79,79,79,0.5);


}
