.button-primary {
  padding: 15px 20px;
  
  color: var(--white);
  font-size: var(--defaultFontSize);
  text-transform: uppercase;

  background: var(--black);
  border-radius: 10px;
}

@media all and (max-width: $mobile-width) {
  
} 
