
.bloc-card-game-type-4 {

  // padding: 10px;
  display: block;
  overflow: hidden;

  &__game {
    // margin-left: -20px;
    max-width: 100%;
    @extend %displayGrid;
    @include gridTemplateColumns(repeat(3, 1fr), 10px);
    @include gridTemplateRows(240px 240px 240px 1px, 10px);

    .category {
      justify-self: center;
      align-self: center;
      text-transform: uppercase;
    }

    .card-content__type-3 {
      min-height: 210px;
    }

    .types {
      @extend %displayGrid;
      @include gridTemplateRows(repeat(3, 1fr), 10px);
      height: 100%;
    }

    .drop-card {
      width: 220px;
      flex-grow: 1;
      flex-shrink: 0;
      color: $buttonQCMType1Color;
      font-size: 0.65rem;
      text-transform: uppercase;
      background-color: $buttonQCMType1BgColor !important;
      border-radius: 15px;
      border: 3px solid transparent;
      margin-bottom: 2px;
      box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);

      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: space-around;
      padding-top: 10px;
      padding-bottom: 5px;

      &__type {
        text-align: left;
        width: 100%;
        max-width: 100%;
        margin-left: 10px;
      }

      &__answer {
        font-size: 0.8rem;
        color: $black;
        max-width: 100%;
        text-align: center;
      }

      &.dragging-over {
        border-color: $buttonQCMType1ActivBorderColor;
      }
      &.finished {
        border-color: $blocUpAndDownButtonBorderFinished;
      }
    }
  }

  .popup {
    width: 100%;
    align-self: center;
  }

  .popup-victory-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @include gridColumn(1);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .popup-explanation-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .popup-explanation {
      max-width: 60%;
      font-size: 12px;
      .card-title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
      }
      .card-subtitle {
        margin-bottom: 5px;
      }
    }
  }

  .button-primary {
    margin-top: 15px;
    margin-left: auto;
    margin-right: 15px;
    width: 175px;
  }
}

.bloc-en-savoir-plus-type-1__cards--to-show {
  margin-left: 20px;
  padding: 40px;
}

















