@font-face {
	font-family: 'Helvetica Neue LT Std 55 Roman';
	font-style: normal;
	font-weight: normal;
	src: local('HelveticaNeueLTStd-Roman'), url('../police/HelveticaNeueLTStd-Roman.otf') format('opentype');
}
@font-face {
	font-family: 'Helvetica Neue LT Std 75 Bold';
	font-style: normal;
	font-weight: normal;
	src: local('HelveticaNeueLTStd-Roman'), url('../police/Helvetica Neue LT Std 75 Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Helvetica Neue LT Std 107 Extra Black Condensed';
	font-style: normal;
	font-weight: bold;
	src: local('HelveticaNeueLTStd-XBlkC'), url('../police/HelveticaNeueLTStd-XBlkCn.otf') format('opentype');
}
@font-face {font-family: "Helvetica Neue LT Std 93 Black Extended";
  font-style: normal;
	font-weight: bold;
	src: local('Helvetica Neue LT Std 93 Black Extended'), url('../police/Helvetica Neue LT Std 93 Black Extended.otf') format('opentype');
}

@font-face {font-family: "Helvetica Neue LT Com 73 Bold Extended V1";
font-style: normal;
	font-weight: lighter;
	src: local('Helvetica Neue LT Com 73 Bold Extended V1'), url('../police/Helvetica Neue LT Com 73 Bold Extended V1.otf') format('opentype');
}

@font-face {font-family: "Helvetica Neue LT Std 63 Medium Extended";
font-style: normal;
	font-weight: lighter;
	src: local('Helvetica Neue LT Std 63 Medium Extended'), url('../police/Helvetica Neue LT Std 63 Medium Extended.otf') format('opentype');
}

@font-face {
font-family: 'Helvetica Neue LT Std 75 Bold';
font-style: normal;
font-weight: normal;
src: local('HelveticaNeueLTStd-Bd'), url('HelveticaNeueLTStd-Bd.otf') format('opentype');
}

	  .back{font-family: 'Helvetica Neue LT Std 75 Bold';background-color:#efefef;height:780px;width:708px;background-repeat:no-repeat;background-size:680px 520px;float:left;color:rgb(151, 151, 151);}
 .z99{z-index:9999;}
	 .ajustWidth{width:10px;}
      .ajustMiniCal{height:44px;}
	    .welcomeDrag{border:0.10px solid #e6e6e6;z-index:1;border-bottom:0.0px solid #e6e6e6;z-index:1;}
      .welcomeDrag2{border:0.10px solid #e6e6e6;z-index:1;border-bottom:0.0px solid #e6e6e6;z-index:1;}
      .columm{height:520px;text-align:center;}
      .red{background-color:none;}
      .black{background-color:black;}
      .yellow{background-color:#efefef;}
      .green{background-color:green;}
      .pink{background-color:pink;}
      .white{background-color:white;}
      .grey{background-color:grey;}
      .well{width:85px;}
      .empty{width:6px;}
      .left{float:left;}
      .opacMed{opacity:0.9;}
      .opacMedle{opacity:1;}
      .blue{background-color:;}
      .miniPlace{height:55px;}
      .microPlace{height:30px;border-bottom:0.25px solid #e6e6e6;padding:9px 0px;}
      .bigPlace{height:155px;}
      .mediumPlace{height:105px;}
      .miniLiner{height:9.9px;}
      .miniLiner1px{height:1px;}

	  .border15{
		border-radius:15px;
	  }
	  .absolute{position:absolute;}
	  .shadowed{box-shadow: -2px 5px 2px 0px #9b9b9b;position:absolute;}
	  .width75{width:75px;}
	  .width155{width:155px;}
	  .simpleHeight{height:50px;padding:5px 5px;}
	  .doubleHeight{height:90px;padding:5px 5px;}
	  .tripleHeight{height:150px;padding:5px 5px;}
	  .quadHeight{height:210px;padding:5px 5px;}
	  .circle{  background: #d6d6d6; /* Old browsers */
				background: -moz-radial-gradient(center, ellipse cover, #d6d6d6 27%, #7f7f7f 100%); /* FF3.6-15 */
				background: -webkit-radial-gradient(center, ellipse cover, #d6d6d6 27%,#7f7f7f 100%); /* Chrome10-25,Safari5.1-6 */
				background: radial-gradient(ellipse at center, #d6d6d6 27%,#7f7f7f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#7f7f7f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
				border-radius:50%;
				  width:40px;
				  height:40px;
				}
		.textAndCircle{
		position:relative;
		font-family: 'Helvetica Neue LT Std 55 Roman';
		cursor:pointer;
		background-repeat:no-repeat;
		height:40px;
		width:80px;
		background-size:40px 40px;
		margin-top:4px;
		}

		
		.stampContext{display:none;
		
		font-family: 'Helvetica Neue LT Std 55 Roman';
		font-weight:lighter;
		font-size:10px;
		text-transform:uppercase;
		color:#7d7d7d;
		line-height:0.95;
		padding:3px;
		border-radius:5px;
		margin-left:-20px;
		z-index:999999;
		position:absolute;
		opacity:1;
		text-align:left;}
	
		.stampLeft{left:40px;}				
				
				
		.textAndCircle:hover .stampContext{ 
   display: block;z-index:99999;

}	
				
		.textAndCircle2{
		position:relative;
		font-family: 'Helvetica Neue LT Std 55 Roman';
		cursor:pointer;
		background-repeat:no-repeat;
		height:40px;
		width:80px;
		background-size:40px 40px;
		margin-top:4px;
		}

		
		.stampContext2{display:none;
		
		font-family: 'Helvetica Neue LT Std 55 Roman';
		font-weight:bold;
		font-size:12px;
		text-transform:uppercase;
		color:#333030;
		line-height:0.95;
		background-color:transparent;
		padding:3px;
		border-radius:5px;
		margin-left:10px;
		z-index:999999;
		position:absolute;
		
		}		
				
				
				.textAndCircle2:hover .stampContext{ 
   display: block;z-index:99999;

}		
				
			
		.legend{background-image:url('../img/legend.png');background-size:180px 130px;background-repeat:no-repeat;}		
				
				
	#valider{font-family: 'Helvetica Neue LT Std 55 Roman';
		position:absolute;
background-color:black;
-moz-border-radius:11px;
-webkit-border-radius:11px;
border-radius:11px;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-size:12px;
padding:15px 35px;
text-decoration:none;
text-shadow:0px 1px 0px #2f6627;
margin-top:40px;
float:clear;
-moz-box-shadow: -5px 5px 5px 0px silver;
-webkit-box-shadow: -5px 5px 5px 0px silver;
-o-box-shadow: -5px 5px 5px 0px silver;
box-shadow: -5px 5px 5px 0px silver;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#D9D9D9, Direction=224, Strength=5);
text-transform:uppercase;
top:620px;
left:293px;


}			
				
	#reload{font-family: 'Helvetica Neue LT Std 55 Roman';
		position:absolute;
background-color:black;
-moz-border-radius:11px;
-webkit-border-radius:11px;
border-radius:11px;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-size:12px;
padding:15px 35px;
text-decoration:none;
text-shadow:0px 1px 0px #2f6627;
margin-top:40px;
float:clear;
-moz-box-shadow: -5px 5px 5px 0px silver;
-webkit-box-shadow: -5px 5px 5px 0px silver;
-o-box-shadow: -5px 5px 5px 0px silver;
box-shadow: -5px 5px 5px 0px silver;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#D9D9D9, Direction=224, Strength=5);
text-transform:uppercase;
top:670px;
left:270px;


}				
  #dialogoverlay{
display:none;
width:200px;
height:120px;
position:absolute;
background:#009FE3;

color:#FFFFFF;
opacity:0.9;
padding:0px;
border-radius:20px;
box-shadow:0 0 2px rgba(0,0,0,.5);
font-family:'Helvetica Neue LT Std 55 Roman';font-weight:normal;
font-size:15px;
left:50%;
}
#dialogbox{
display:none;
width:230px;
height:90px;
position:absolute;
background:#009FE3;

color:#FFFFFF;
opacity:0.9;
border-radius:20px;
box-shadow:0 0 2px rgba(0,0,0,.5);
font-family:'Helvetica Neue LT Std 55 Roman';font-weight:bold;
font-size:12px;
left:50%;
bottom:30%;
}
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #009FE3; font-size:19px; padding:10px; color:#CCC; }
#dialogbox > div > #dialogboxbody{ background:#009FE3; padding:15px; color:#FFF; margin-top:-30px;padding-bottom:0px}
#dialogbox > div > #dialogboxfoot{ background: #009FE3; padding:10px; text-align:right; }		



#ok{cursor:pointer;margin:0px;} 

.hidden{
	visibility:hidden;
}
.speBack{
background-size: 38px 37px;
	
}
				