.popup-blue {
  @extend %flex-column-top-left;
  border-radius: 20px;
  padding: 30px;
  background: var(--popupBgColor);
  color: var(--popupContentColor);
  font-size: 0.95rem;
  .cross {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
}
