.popup-blue {
  @extend %flex-column-top-left;
  border-radius: 20px;
  padding: 30px;
  min-height: 75px;
  background: $popupBgColor;
  color: $popupContentColor;
  font-size: 0.95rem;
  max-width: 100%;

  * {
    max-width: 100%;
  }
  // pointer-events: none;
  .cross {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
    pointer-events: initial;
  }
  z-index: 1;
}
