.bloc-sub-menu-1 {
  width: 100%;

  &__buttons {
    width: 100%;
    @extend %flex-row-center-center;


    * {
      max-width: 150px;
    }
    :not(:last-child) {
      margin-right: 10px;
    }

  }

  .button-primary {
    height: 75px;
    width: 150px;
  }

  &__group {
    @extend %flex-column-center-center;
    cursor: pointer;
  }
  &__arrow {
    @include equalSides(45px);
    @extend %background-contain;
  }
}
