.header {
  position: relative;
  width: 100%;
  height: $headerHeight;
  padding-left: $innerContentPaddingX;
  padding-right: $innerContentPaddingX;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  font-family: $headerFontFamily;
  font-weight: 300;
  color: $headerInfosColor;

  background: $headerBgColor;


  /**************************/
  &__top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    > * {
      width: 50%;
      height: $headerContentHeight;
    }
  }

  /**************************/
  &__logo {
    background-image: url('./../assets/img/home/logo.png');
    background-size: auto 100%;
  }

  /**************************/
  &__user {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    &--avatar {
      background-image: url('./../assets/img/home/idPhoto.png');
      width: $avatarWidth;
      height: $avatarHeight;
    }

    &--infos {
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      > * {
        flex-grow: 1;
      }
    }
    &--info {
      &.formation {
        color: $headerFormationColor;
        font-size: 1.125rem;
        line-height: 1.625rem;
        font-weight: 500;
      }
      &.name {
        font-size: 0.875rem;
      }
      &.deconnection {
        font-size: 0.875rem;
      }
      &.cgu {
        font-size: 0.875rem;
      }
    }
  }
  /**************************/
}
