.bloc-QCM-type-3 {
  width: 100%;
  // margin-bottom: 300px;
  &__questions {
    width: 100%;
    height: 100%;
    @extend %flex-row-center-center;
    justify-content: space-between;
    max-width: 100%;

    &--to-hover{
      flex-grow: 1;
      margin-right: 15px;
      display: flex;
      flex-direction: column;      
      justify-content: space-between;
      align-items: space-between;
      max-width: 100%;
      width: 100%;

      &--question {
        display: flex;
        justify-content: flex-start; 
        align-items: center;
        max-width: 100%;
        width: 100%;

        .button-groupe {
          flex-grow: 1;
          flex-shrink: 1;
          max-width: 100%;
          // max-width: 55%;
        }

        .select-QCM-type-2 {
          width: 100px;
          flex-grow: 0;
          margin-right: 10px;
        }

        .button-primary {
          background-color: transparent !important;
          color: $defaultTextColor;
          font-size: 0.875rem;
          text-transform: none;
          text-align: left;
          justify-content: center;
          align-items: flex-start;
          max-width: 100%;
          cursor: default;

          span {
            max-width: 350px;
          }
        }
      }
    }


    &--to-show {
      width: 360px;

      .question-subtitle {
        margin-bottom: 20px;
      }
    }
    .arrow-following {
      height: 30px;
      width: 210px;
      @extend %background-contain;
      margin-top: 10px;
      margin-bottom: 10px;
    }

  }

  &__validate-victory {
    // margin-top: 20px;
    width: 100%;
    min-height: 80px;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__validate {
    height: 44px;
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  &__victory-message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  &__explanations {
    height: 44px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  .step2-module_08_04 {
    .select-QCM-type-2 {
      width: 150px;
    }
    .button-groupe {
      flex-grow: 1;
      flex-shrink: 1;
      // max-width: 30%;
      .button {
        align-items: flex-start;
      }
    }
  }

  .step2-module_09_03 {
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 100%;
    .select-QCM-type-2 {
      width: 150px;
    }
  }



}
