 .rubriqueobamona{background: rgba(123,6,123,1);
      background: -moz-linear-gradient(left, rgba(123,6,123,1) 0%, rgba(91,44,92,1) 42%, rgba(70,70,71,1) 54%, rgba(43,102,44,1) 71%, rgba(4,149,4,1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(123,6,123,1)), color-stop(42%, rgba(91,44,92,1)), color-stop(54%, rgba(70,70,71,1)), color-stop(71%, rgba(43,102,44,1)), color-stop(100%, rgba(4,149,4,1)));
      background: -webkit-linear-gradient(left, rgba(123,6,123,1) 0%, rgba(91,44,92,1) 42%, rgba(70,70,71,1) 54%, rgba(43,102,44,1) 71%, rgba(4,149,4,1) 100%);
      background: -o-linear-gradient(left, rgba(123,6,123,1) 0%, rgba(91,44,92,1) 42%, rgba(70,70,71,1) 54%, rgba(43,102,44,1) 71%, rgba(4,149,4,1) 100%);
      background: -ms-linear-gradient(left, rgba(123,6,123,1) 0%, rgba(91,44,92,1) 42%, rgba(70,70,71,1) 54%, rgba(43,102,44,1) 71%, rgba(4,149,4,1) 100%);
      background: linear-gradient(to right, rgba(123,6,123,1) 0%, rgba(91,44,92,1) 42%, rgba(70,70,71,1) 54%, rgba(43,102,44,1) 71%, rgba(4,149,4,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b067b', endColorstr='#049504', GradientType=1 );}
	  
.questionconsign {
    float: left;
    font-weight: normal;
    height: 40px;
    margin-top: 7px;
    width: 150px;
	 color: #7d7d7d;
    font-family: "Helvetica Neue LT Std 55 Roman";
	cursor: pointer;
	
}
*.buttonquestion {
    background-color: #fafafa;
    border: medium none !important;
    border-radius: 17px;
    box-shadow: none !important;
    color: #666677;
    cursor: pointer;
    float: left;
    font-family: "Helvetica Neue LT Std 55 Roman";
    font-size: 12px;
    font-weight: bold;
    height: 45px;
    margin: 0 5px 5px;
    vertical-align: middle;
    width: 220px;
	text-align:center;
}
.buttonquestion:hover {
cursor:pointer;
width:220px;
height:45px;
border-radius:17px;
background-color:#FAFAFA;
float:left;
margin:5px;
margin-top:0px;
font-family:'Helvetica Neue LT Std 55 Roman';font-weight:bold;
font-size:12px;
vertical-align: middle;
border:none !important;
box-shadow:none !important;
border-top-color: #b5b5b5;
color: #ffffff;
background: #d6d6d6;
text-align:center;
}
.buttonquestionactive {
cursor:pointer;
width:220px;
height:45px;
border-radius:17px;
background-color:white;
float:left;
margin:5px;
margin-top:0px;
font-family:'Helvetica Neue LT Std 55 Roman';font-weight:bold;
font-size:12px;
color: #666677;
vertical-align: middle;
border:solid 2px; !important;
border-color:silver;
box-shadow:none !important;
text-align:center;



}
.buttonquestionactivegood {
cursor:pointer;
width:220px;
height:45px;
border-radius:17px;
background-color:white;
float:left;
margin:5px;
margin-top:0px;
font-family:'Helvetica Neue LT Std 55 Roman';font-weight:bold;
font-size:12px;
color: #666677;
vertical-align: middle;
border:solid 2px; !important;
border-color:green;
box-shadow:none !important;
text-align:center;



}
.buttonquestionactivefalse{
cursor:pointer;
width:220px;
height:45px;
border-radius:17px;
background-color:white;
float:left;
margin:5px;
margin-top:0px;
font-family:'Helvetica Neue LT Std 55 Roman';font-weight:bold;
font-size:12px;
color: #666677;
vertical-align: middle;
border:solid 2px; !important;
border-color:red;
box-shadow:none !important;
text-align:center;



}
button{margin:0 auto;}




.valider{font-family:'Helvetica Neue LT Std 55 Roman';font-weight:normal;font-size:12px;padding:14 60px;}

.consigne {
    color: #7d7d7d;
    font-family: "Helvetica Neue LT Std 55 Roman";
    font-size: 14px;
    margin-bottom: 10px;
}
#compt {
    color: #7d7d7d;
    font-family: "Helvetica Neue LT Std 55 Roman";
    font-size: 14px;
	font-weight:bold;

}


.consigncontainer {
   background-color:#EFEFEF;
}
.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 30px;
    height: 30px;
    background: circleBase;
    border: 1px solid grey;
	padding:5px;
}
  #dialogoverlay{
  display:none;
  width:250px;
  height:170px;
  position:absolute;
  background:#009FE3;

  color:#FFFFFF;
  opacity:0.9;
  padding:30px;
  border-radius:20px;
  box-shadow:0 0 2px rgba(0,0,0,.5);
  font-family:'Helvetica Neue LT Std 55 Roman';font-weight:normal;
  font-size:15px;
  left:50%;
  }
  #dialogbox{
  display:none;
  width:300px;
  height:180px;
  position:absolute;
  background:#009FE3;

  color:#FFFFFF;
  opacity:0.9;
  border-radius:20px;
  box-shadow:0 0 2px rgba(0,0,0,.5);
  font-family:'Helvetica Neue LT Std 55 Roman';font-weight:normal;
  font-size:15px;
  left:50%;
  bottom:10%;
  z-index: 999999;
  }
  #ok {
    cursor: pointer;margin:0px
  }
  #dialogbox > div{ background:#FFF; margin:8px; }
  #dialogbox > div > #dialogboxhead{ background: #009FE3; font-size:19px; padding:10px; color:#CCC; }
  #dialogbox > div > #dialogboxbody{ background:#009FE3; padding:20px; color:#FFF; }
  #dialogbox > div > #dialogboxfoot{ background: #009FE3; padding:10px; text-align:right; }

