.introduction {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  > * {
    border-bottom: 10px solid var(--introBorderColor);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }

  /*------------------------------------*/
  /*USER-INFOS*/
  /*------------------------------------*/
  
  &__user-game-infos {
    display: flex;
    justify-content: flex-start;
    //align-items: center;

    > * {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-left: 20px;
      margin-right: 20px;
      .title {
        margin-bottom: 5px;
      }
      border-left: 1px solid var(--userInfoBorderColor);
    }

    &__progression {
      .value {
        font-size: 2rem;
      }
      border: none;
    }

    &__ranking {
      .rank {
        font-size: 0.55rem;        
        text-align: left;

      }
    } 
  }

  /*------------------------------------*/
  /*CHAPTER PRESENTATION*/
  /*------------------------------------*/

  &__chapter-presentation {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    
    .left-column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      > * {
        margin-bottom: 10px;
        margin-top: 10px;
      }
      
      .title {
        font-size: 2rem;
        text-transform: uppercase;
        color: var(--introTitleColor);
      }
    }

    .right-column.video-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 220px;
      height: 150px;
      max-width: 220px;
      max-height: 150px;

      .video {
        width: 220px;
        height: 150px;
        max-width: 220px;
        max-height: 150px;
      }
    }
  }

}
