.menu-mobile {
  position: fixed;
  /* top: calc(var(--headerHeight) - var(--menuTopHeight) + var(--menuTopPaddingTop)); */
  bottom: 0;
  right: calc((100vw - var(--masterWidth)) / 2 + var(--innerContentPaddingX) / 2 - var(--buttonCircleRadius) / 2);
  right: calc((100vw - var(--masterWidth)) / 2 - 10px);
  &__item {
    margin-bottom: 5px;
    width: var(--innerContentPaddingX);
    padding: 0 10px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    color: var(--menuMobileItemColor);
    text-transform: uppercase;
    
    visibility: hidden;
    opacity: 0;
    transition: all var(--menuMobileTogglingDuration) ease-in-out;

    &.active {
      visibility: visible;
      opacity: 1;
    }
    
    &--title {
      display: block;
      font-size: var(--defaultFontSize);
    }
    &--subtitle {
      display: block;
      font-size: 0.60rem;
    }
    &--description {
      margin-left: 10px;
    }

    &--icon {
      color: var(--menuMobileIconColor);
      font-size: 1.5rem;
    }
    .button-circle__1 {
      color: var(--menuTopItemHomeColor);
    }
    @for $i from 1 through 5 {
      .button-circle__#{$i} {
        background: var(--menuItem#{$i}BgColor); 
      }
    }
    
  }


}
